





<footer class="footer">
    <p class="icon-bar">
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
        <a href="https://web.wechat.com/" target="_blank"><i class="fab fa-weixin"></i></a>
        <a href="https://mail.google.com/" target="_blank"><i class="fas fa-envelope-square"></i></a>
        <a href="https://info30005workspace.slack.com/" target="_blank"><i class="fab fa-slack"></i></a>
        <a href="https://github.com/S-J-HAN/INFO30005-2019-CDJR" target="_blank"><i class="fab fa-github-square"></i></a>
    </p>
    <p>powered by <a href="http://www.google.com" target="_blank">CDJR-technology</a></p>
</footer>


 </body>
</html>
