<% include ./partials/header %>
   <div class="col-md-3 col-xs-3">
	 <nav>
      <div class="">
      <a href="#">Catagorises</a>
      <a href="#">Users</a>
      <a href="#">Works</a>
      <a href="#">Upload</a>
      <a href="#">About</a>
      </div>
     </nav>
    
</div>

<div style="margin-left:10px; overflow-x:scroll;width:75%; height:650px;">


<div class="col-md-12 col-xs-12" id="to">

	<div class="col-md-2 col-xs-2" id="to1">
	<img src="http://static.cnprosco.cn/dawer/static/6.png">
	</div>

	<div class="col-md-3 col-xs-3 " id="js">		
	<p  style="margin-top: 15px;">username： <span>myname</span></p>
	<p>Age： <span>18</span> </p>
	<p>location：<span>MELB</span></p>
	<p>sign up date：<span>2019</span></p>
	</div>

	<div class="col-md-7 col-xs-7 " id="qi">
		<img src="http://static.cnprosco.cn/dawer/static/7.png">
        <img src="http://static.cnprosco.cn/dawer/static/7.png">
        <img src="http://static.cnprosco.cn/dawer/static/7.png">
	</div>
</div>


<div class="col-md-12 col-xs-12" id="to">

	<div class="col-md-2 col-xs-2" id="to1">
	<img src="http://static.cnprosco.cn/dawer/static/6.png">
	</div>

	<div class="col-md-3 col-xs-3 " id="js">		
	<p  style="margin-top: 15px;">username： myname</p>
	<p>Age： 18</p>
	<p>location：Sydney</p>
	<p>sign up date：2019</p>
	</div>

	<div class="col-md-7 col-xs-7 " id="qi">
		<img src="http://static.cnprosco.cn/dawer/static/7.png">
        <img src="http://static.cnprosco.cn/dawer/static/7.png">
        <img src="http://static.cnprosco.cn/dawer/static/7.png">
	</div>
</div>


<div class="col-md-12 col-xs-12" id="to">

	<div class="col-md-2 col-xs-2" id="to1">
	<img src="http://static.cnprosco.cn/dawer/static/6.png">
	</div>

	<div class="col-md-3 col-xs-3 " id="js">		
	<p  style="margin-top: 15px;">username： myname</p>
	<p>Age： 18</p>
	<p>location：MELB</p>
	<p>sign up date：2019</p>
	</div>

	<div class="col-md-7 col-xs-7 " id="qi">
		<img src="http://static.cnprosco.cn/dawer/static/7.png">
        <img src="http://static.cnprosco.cn/dawer/static/7.png">
        <img src="http://static.cnprosco.cn/dawer/static/7.png">
	</div>
</div>


<div class="col-md-12 col-xs-12" id="to">

	<div class="col-md-2 col-xs-2" id="to1">
	<img src="http://static.cnprosco.cn/dawer/static/6.png">
	</div>

	<div class="col-md-3 col-xs-3 " id="js">		
	<p  style="margin-top: 15px;">username： myname</p>
	<p>Age： 18</p>
	<p>location：MELB</p>
	<p>sign up date：2019</p>
	</div>

	<div class="col-md-7 col-xs-7 " id="qi">
		<img src="http://static.cnprosco.cn/dawer/static/7.png">
        <img src="http://static.cnprosco.cn/dawer/static/7.png">
        <img src="http://static.cnprosco.cn/dawer/static/7.png">
	</div>
</div>



</div>


</div>
<% include ./partials/footer %>