.shang {
	height: 150px;
	background: #112d4e;
}
.shang span {
	font-family: san;
	font-size: 70px;
    float: left;
    margin-top: 10px;
    margin-left: 100px;
    color: #FF7200;
}
.shang a {
    font-family: yuan;
    float: right;
    margin-top: 35px;
    text-decoration:none;
     margin-right: 60px;
     font-weight:bold;
     color: white;
     font-size: 30px;

}
.shang img {
	width: 90px;
	height: 80px;
	float: right;
    margin-top: 15px;
    margin-right: 20px;
}



body {
          margin: 0; 
      }
nav {
     	margin-top: 15px;
     	/*width: 15%;*/
         /*position: fixed;*/ 
      background-color: #76b39d; 
          
      top: 0; left: 0; 
     }
nav a { 
	         font-family: san;
             font-weight: bold;
             font-size: 38px;
             color: #ffffff;             
             display: block;
             padding: 36px;
             text-decoration: none;
             text-align: center;
             border-bottom:2px solid #A9BFCD;

         }
nav div a:first-child { 
             /*box-shadow: -1px 0.5px 4px 1px #fadfdf inset;*/
             background-color: #76b39d;
         }
nav div a:hover {
                 background-color: #3f72af;
                 text-decoration:none;
         }
nav div a:active {
             box-shadow: -1px 0.5px 4px 1px #777 inset;
             background-color: #112d4e;
         }


#to1 {
	/*background: #3f72af; */
	height: 100%;

}
#to1 img {
         	height: 10rem;
         	width: 10rem;
         	border-radius:50%; 
         	overflow:hidden;
         	margin-top: 50px;
         	margin-left: 10px;

         }
#to {
	height: 200px;
	background:#f9f7f7;
	margin-top: 15px;
	 
}
#to6 {
	height: 200px;
	background:#2E3642;
	margin-top: 15px;
	 
}


#js {

}
#js p{
	font-size: 15px;
	margin-left: 10px;
	line-height: 35px;
	width: 100%;
}


#qi{
	/*background: #3f72af;*/
	height: 100%;
}
#qi img{
	margin: 30px 5px 0px 5px;
	height: 14rem;width: 28%;
}
