<% include ../partials/header %>
<main>
    <div class="container">
        <h1>Add new comment to <%= photo.name %>!</h1>
        <form action="/photo/<%= photo._id %>/comment" method="POST">
            <input type="text" name="comment[text]" placeholder="leave a comment...">
            <button type="">Submit!</button>
        </form>
        <a href="/photo/<%= photo._id %>">Go back</a>
    </div>
</main>
<% include ../partials/footerScript %>
<% include ../partials/footer %>