<% include ../partials/header %>
    <head>
        <title>New Image</title>
        <link rel="stylesheet" href="/stylesheets/newphoto.css">
    </head>
    <body>
        <h1 class="PageInfo" align="center">Upload new image</h1>
        <div class="NewImage">    
            <form action="/photo" method="POST" >
                <div class="ImageInfo Left">        
                    <div class="ImagePreview">
                    <img src=https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=767&q=80 width="40vw"></img></div>
                    <div class="UploadImage">
                        <div class="UploadImage Left2">
                            <h2 class="ImageUpload">Upload Image File</h2>
                            <p class="ImageUpload"><input type="file" name="image" accept="image/png, image/jpeg"></p>
                        </div>    
                        <div class="UploadImage Right2">
                            <h2 class="ImageUpload">Upload by URL</h2>
                            <br>
                            <p class="ImageUpload"><input type="text" name="image" placeholder="Enter Image URL"></p>
                        </div>
                    </div>    
                </div>
                <div class="ImageInfo Right">
                    <div class="ImageDetails">
                        <h2>Title</h2>
                        <p class=DetailField><input type="text" name="name" placeholder="Image title" size="50"></p>
                        <h2>Date</h2>
                        <p class=DetailField><input type="date" name="date"></p>
                        <h2>Description</h2>
                        <p class=DetailField><textarea name="description" placeholder="Image description" rows="10" cols="50"></textarea></p>
                        <button type="">Submit Image</button>
                    </div>        
                </div>     
            </form>
        </div>
    </body>     
<% include ../partials/footerScript %>
<% include ../partials/footer %>
