<% include ../partials/header %>
    <head>
        <title>New Image</title>
        <link rel="stylesheet" href="/stylesheets/newphoto.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <div class="box shadow">
        <form action="/photo" enctype="multipart/form-data" method="POST" >
            <div class="row">
                <div class="col-6 mr-5">
                    <div class="w3-content w3-display-container" id="Photos">
                        <h1 class="mb-3 subdued-header">Upload a new image!</h1>
                        <img id="output"></img>
                    </div>
                    <div class="input-group mt-3">
                        <label class="custom-file-label" for="imageUpload" id="filelist"></label>
                        <input class="custom-file-input" id="imageUpload" type="file" name="imagefile" accept="image/png, image/jpeg" onchange="loadFile(event)" multiple>

                        <script>
                            var output = document.getElementById('output');
                            output.src = "http://icons.iconarchive.com/icons/ccard3dev/dynamic-yosemite/1024/Preview-icon.png"
                            var loadFile = function(event) {
                                //output.src = URL.createObjectURL(event.target.files[0]);
                                var newphotos=[];
                                for(i=0;i<event.target.files.length;i++){
                                    if(i==0){
                                        document.getElementById("filelist").innerHTML=event.target.files[0].name;
                                    }
                                    else{
                                        document.getElementById("filelist").innerHTML += ", " + event.target.files[i].name;
                                    }
                                    newphotos[i]=URL.createObjectURL(event.target.files[i]);
                                }
                                createGallery(newphotos);
                            };
                            var createGallery = function(photos) {
                                var newHTML="";

                                for(i=0;i<photos.length;i++){
                                    newHTML+="<img class='mySlides' src="+photos[i]+">";
                                }
                                newHTML+='<div class="w3-center w3-container w3-section w3-large w3-text-black w3-display-bottommiddle" style="width:100%"><div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div><div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>';
                                for(i=0;i<photos.length;i++){
                                    newHTML+='<span class="w3-badge demo w3-border w3-transparent w3-hover-blue" onclick="currentDiv('+(i+1)+')"></span>';
                                }
                                newHTML+='</div>';
                                document.getElementById("Photos").innerHTML=newHTML;
                                showDivs(slideIndex);
                            }
                            var slideIndex = 1;

                            function plusDivs(n) {
                                showDivs(slideIndex += n);
                            }
                            function currentDiv(n) {
                              showDivs(slideIndex = n);
                            }
                            function showDivs(n) {
                              var i;
                              var x = document.getElementsByClassName("mySlides");
                              var dots = document.getElementsByClassName("demo");
                              if (n > x.length) {slideIndex = 1}
                              if (n < 1) {slideIndex = x.length}
                              for (i = 0; i < x.length; i++) {
                                x[i].style.display = "none";
                              }
                              for (i = 0; i < dots.length; i++) {
                                dots[i].className = dots[i].className.replace(" w3-blue", "");
                              }
                              x[slideIndex-1].style.display = "block";
                              dots[slideIndex-1].className += " w3-blue";
                            }
                        </script>
                    </div>
                    <!-- <div class="form-group mt-3">
                        <label class="subdued-subheader" for="imageURL">Upload by URL</label>
                        <input class="form-control" id="imageURL" type="text" name="image" placeholder="Enter Image URL">
                    </div> -->
                </div>
                <div class="col-5 pl-4" style="margin-top:50px;">
                    <div class="form-group">
                        <label class="subdued-subheader" for="newTitle">Title</label>
                        <input class="form-control" id="newTitle" type="text" name="name" placeholder="Image title" size="50">
                    </div>
                    <div class="form-group">
                        <label class="subdued-subheader" for="newDate">Date</label>
                        <input class="form-control" id="newDate" type="date" name="date">
                    </div>
                    <div class="form-group">
                        <label class="subdued-subheader" for="newDescription">Description</label>
                        <textarea class="form-control" id="newDescription" name="description" placeholder="Image description" rows="10" cols="50"></textarea>
                    </div>
                    <button class="btn btn-primary" type="" style="border-radius:5px;">Submit</button>
                </div>
            </div>
        </form>
    </div>
<% include ../partials/footerScript %>
<% include ../partials/footer %>
