<% include ../partials/header %>
    <head>
        <title>New Image</title>
        <link rel="stylesheet" href="/stylesheets/newphoto.css">
    </head>
    <div class="container">
        <h1 class="text-center mb-3">Upload new image</h1>
        <form action="/photo" enctype="multipart/form-data" method="POST" >
            <div class="row">
                <div class="col-6 mr-5">
                    <div id="imagePreview">
                        <img id="output"></img>
                    </div>
                    <div class="input-group mt-3">
                        <label class="custom-file-label" for="imageUpload" id="filelist"></label>
                        <input class="custom-file-input" id="imageUpload" type="file" name="imagefile" accept="image/png, image/jpeg" onchange="loadFile(event)" multiple>
                           
                        <script>
                            var output = document.getElementById('output');
                            output.src = "http://icons.iconarchive.com/icons/ccard3dev/dynamic-yosemite/1024/Preview-icon.png"
                            var loadFile = function(event) {                                
                                output.src = URL.createObjectURL(event.target.files[0]);
                                for(i=0;i<event.target.files.length;i++){
                                    if(i==0){
                                        document.getElementById("filelist").innerHTML=event.target.files[0].name;
                                    }
                                    else{
                                        document.getElementById("filelist").innerHTML += ", " + event.target.files[i].name;
                                    }
                                }
                            };
                        </script>
                    </div>
                    <div class="form-group mt-3">
                        <label for="imageURL">Upload by URL</label>
                        <input class="form-control" id="imageURL" type="text" name="image" placeholder="Enter Image URL">
                    </div>
                </div>
                <div class="col-5 pl-4">
                    <div class="form-group">
                        <label for="newTitle">Title</label>
                        <input class="form-control" id="newTitle" type="text" name="name" placeholder="Image title" size="50">
                    </div>
                    <div class="form-group">
                        <label for="newDate">Date</label>
                        <input class="form-control" id="newDate" type="date" name="date">
                    </div>
                    <div class="form-group">
                        <label for="newDescription">Description</label>
                        <textarea class="form-control" id="newDescription" name="description" placeholder="Image description" rows="10" cols="50"></textarea>
                    </div>
                    <button class="btn btn-primary" type="">Submit</button>
                </div>
            </div>
        </form>
    </div>
<% include ../partials/footerScript %>
<% include ../partials/footer %>
