<% include ./partials/header %>
    <div class="container">
        <h1>Landing page</h1>
        <h2>CDJR Technology Presents</h2>
        <a href="/photo">View photos</a>
    </div>
<% include ./partials/footer %>