<% include ./partials/header %>

<section id="loginForm">
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-8 col-sm-6 col-lg-4">
                <div class="loginBox p-5">
                    <form action="/login" method="POST">
                        <h1 class="text-center">Login</h1>
                        <div class="form-group-lg my-3">
                            <label for="username">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="input-group-prepend"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group-lg my-3">
                            <label for="password">Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="input-group-prepend"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                            </div>
                            
                        </div>
                        <div class="submitButton">
                            <button type="submit" class="btn btn-info px-5 rounded-pill">Login</button>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
        
    </div>
</section>
<% include ./partials/footer %>