/*    footer    */
footer {
    background-color: #f1f1f1;
    padding: 64px 0;
    text-align: center;
    position: relative;
    bottom: -200px;
}

.icon-bar {
    font-size: 18px;
    color: #000;
    margin: 2px;
}

.icon-bar a:hover {
    opacity: 0.5;
}

footer.footer a {
    color: #000;
}