body {
  background: #f9f7f7;
  font-family: 'Raleway', sans-serif;
}

#loginForm .loginBox {
  border: 2px solid #3f72af;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  #loginForm .loginBox .submitButton {
    margin-top: 2rem;
    background-color: transparent;
    text-align: center; }
    #loginForm .loginBox .submitButton button {
      background-color: #3f72af;
      border: #3f72af;
      transition: box-shadow 0.3s; }
    #loginForm .loginBox .submitButton button:hover {
      box-shadow: 2px 2px #112d4e; }

#registerForm .registerBox {
  border: 2px solid #3f72af;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  #registerForm .registerBox .submitButton {
    margin-top: 1.2rem;
    background-color: transparent;
    text-align: center; }
    #registerForm .registerBox .submitButton button {
      background-color: #3f72af;
      border: #3f72af;
      transition: box-shadow 0.3s; }
    #registerForm .registerBox .submitButton button:hover {
      box-shadow: 2px 2px #112d4e; }

.btn-primary {
  background-color: #3f72af;
  border: #112d4e;
  color: white;
  transition: background-color 0.2s;
}

.btn-primary:hover{
  background-color: #112d4e;
}

.navbar {
  width: 100%;
  z-index: 100;
}

.container {
  width: 100vw;
  margin: 0px;
}

.container.home {
  padding-top: 50px;
}

.container .profile {
  width: 100%;
}

#page-container {
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.navbar {
  background-image: linear-gradient(to right, #112d4e , #3f72af );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.navlink {
  color: white;
  padding: 10px;

  font-family: Helvetica;
}

.navlink:hover, .logo:hover {
  color: #dbe2ef;
  text-decoration: none;
}

.logo {
  color: white;
  width: auto;
  font-size: 30px;
  font-family: 'Comfortaa', cursive;

  margin-left: 20px;
}

#footer {
  background-color: blue;
  width: 100%;
  height: 80px;
  position: absolute;
}
