body {
  background: #f9f7f7;
  font-family: 'Raleway', sans-serif;
}

.btn{
  border-radius: 0;  
}

#loginForm .loginBox {
  border: 2px solid #3f72af;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  #loginForm .loginBox .submitButton {
    margin-top: 2rem;
    background-color: transparent;
    text-align: center; }
    #loginForm .loginBox .submitButton button {
      background-color: #3f72af;
      border: #3f72af;
      transition: box-shadow 0.3s; }
    #loginForm .loginBox .submitButton button:hover {
      box-shadow: 2px 2px #112d4e; }

#registerForm .registerBox {
  border: 2px solid #3f72af;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  #registerForm .registerBox .submitButton {
    margin-top: 1.2rem;
    background-color: transparent;
    text-align: center; }
    #registerForm .registerBox .submitButton button {
      background-color: #3f72af;
      border: #3f72af;
      transition: box-shadow 0.3s; }
    #registerForm .registerBox .submitButton button:hover {
      box-shadow: 2px 2px #112d4e; }

.btn-primary {
  background-color: #3f72af;
  border: #112d4e;
  color: white;
  transition: background-color 0.2s;
}

.btn-primary:hover{
  background-color: #112d4e;
}

.navbar {
  width: 100%;
  z-index: 100;
}

.container.home {
  padding-top: 50px;
}

.container .profile {
  width: 100%;
}

/* photo/index.css */
.card{
  border:none;
  background-color: #F9F7F7;
}
.card .image {
  opacity: 1;
  display: block;
  border-radius: 0;
  width: 100%;
  height: auto;
  transition: .5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
}

.card .container{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card.container:hover{
  opacity: 0.2;
}

.card.image:hover .card-title-middle {
  display: block;
  opacity: 1;
}
.card-img-top{
  border-radius: 0;
}
.card-text{
  color: #112d4e;
  font-size: 1.3rem;
}

.likeButton{
  background: transparent;
  border: none !important;
}

.likeform{
  margin:0;
  padding: 0;
}

#page-container {
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.navbar {
  background-image: linear-gradient(to right, #112d4e , #3f72af );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.navlink {
  color: white;
  padding: 10px;

  font-family: Helvetica;
}

.navlink:hover, .logo:hover {
  color: #dbe2ef;
  text-decoration: none;
}

.logo {
  color: white;
  width: auto;
  font-size: 30px;
  font-family: 'Comfortaa', cursive;

  margin-left: 20px;
}

#footer {
  background-color: blue;
  width: 100%;
  height: 80px;
  position: absolute;
}

/* card-column responsive */
@media (min-width: 34em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 1;
  }
}

@media (min-width: 48em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 2;
  }
}


@media (min-width: 75em) {
  .card-columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 3;
  }
}
