.profileText {
  font-size: 15px;
  padding-right: 20px;
  color: #112d4e;
  font-family: Raleway;
}

.profileHeader {
  font-family: Futura;
  font-size: 20px;
  font-weight: 500;
  color: #112d4e;
}

.username {
  padding-top: 20px;
  font-family: Futura;
  font-size: 30px;
  font-weight: normal;
  color: #112d4e;
}

.profilePage {
  margin-top: 15px;
  width: 100%;
  height: auto;
  display: flex;
}

.gallery a {
  text-decoration: none;
  color: #112d4e;
}
.gallery a:hover {
  text-decoration: underline;
  color: #112d4e;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.profileButton {
  background-color: #dbe2ef;
  color: #112d4e;

  outline-width: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 20px;

  font-family: Helvetica;
  font-size: 20px;

  border-radius: 5px;
}

@media (max-width: 1000px) {
  .responsive {
    display: inline-block;
  }

  .info {
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
  }

  .art-gallery {
    width: 75%;
    padding-left: 20px;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 0px;
  }

  .gallery.image {
    width: 345px;
    height: 510px;
  }

  .profileText {
    width: 70vw;
  }
}

@media (min-width: 1000px) {
  .responsive {
    display: flex;
  }

  .info {
    width: 25%;
    padding-left: 20px;
    margin-right: 0px;
  }

  .art-gallery {
    width: 75%;
    padding-left: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .gallery.image {
    width: 230px;
    height: 340px;
  }

  .profileText {
    width: auto;
  }
}
