.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.rounded-10 {
  border-radius: 10px;
}

.no-padding {
  padding: 0;
}

.photo-index {
  background-color: #dbe2ef;
  margin-left: 5px;

  width: 10px;
  height: 10px;
  border-radius: 5px;

  display: inline-block;
}

.photo-index:hover {
  background-color: #3f72af;
}

.photo-index-selected {
  background-color: #3f72af;
}

.title.main {
  font-family: Futura;
  font-size: 30px;
  color: #112d4e;
  display: inline;
}

.title.sub {
  font-size: 15px;
  color: #112d4e;
}

.title.subdued {
  font-size: 30px;
  color: #dbe2ef;
}

.photoDescription {
  overflow-wrap: break-word;
  font-size: 16px;
  hyphens: auto;

  margin-bottom: 20px;
}

.button-link {
  background: transparent;
  border: none !important;
  color: #dbe2ef;
}

.button-link:hover {
  color: #3f72af;
}

.photo-form {
  font-size: 0.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

#back-button:hover {
  background-color: #112d4e;
}

.container.show-photo {
  display: block;
}

#comment-username {
  font-family: Futura;
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

#comment-username:hover {
  color: #3f72af;
}

.comment-text {
  font-family: Helvetica;
  font-size: 14px;
}

.user-comment-header {
  display: flex;
}

.user-alter-comment {
  position: absolute;
  right: 0;
  display: flex;
}

.delete-comment {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  background: transparent;
  border: none !important;
  color: #dbe2ef;
}

.edit-comment {
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: #dbe2ef;
  background-color: none;
  border-radius: 0px;
  border-width: 0;
}

#delete-comment:hover {
  color: #dbe2ef;
}

#edit-comment:hover {
  color: #dbe2ef;
}

#post-comment {
  display: block;
  width: inherit;
}

#input-comment {
  width: inherit;
}

.commentInput {
  background: transparent;
  background-color: none;
  border: none;
}

.comment-date {
  font-family: Helvetica;
  font-size: 11px;
  font-style: italic;

  margin-top: 2px;
  margin-bottom: 5px;
}

.description-date {
  font-family: Helvetica;
  font-size: 13px;
  font-style: italic;
  padding: 0;
  margin-top: 2px;
  margin-bottom: 10px;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
